
<footer>
  <div class="empty_line"></div>
  <div class="footer_nav">
    <div class="row">
      <div class="col-lg-12">
        <div class="collapse navbar-collapse" id="footer_panel">
          <ul class="nav navbar-nav">
            <li class='my_li'>
              <a href="#" id='w'>О нас</a>
            </li>
            <li class='my_li'>
              <a href="#" id="e">Товары</a>
            </li>
            <li class='my_li'>
              <a href="#" id="r">Доставка</a>
            </li>
            <li class='my_li'>
              <a href="#" id="t">Контакты</a>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse" id="footer_soc">
          <ul class="nav navbar-nav">
            <li >
              <a href="#" id='fb'><i class="fa fa-facebook fa-2x"></i>
              </a>
            </li>
            <li>
              <a href="#" id="tw"><i class="fa fa-twitter fa-2x"></i>
              </a>
            </li>
            <li>
              <a href="#" id="vk"><i class="fa fa-vk fa-2x"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <footer>
