{% extends "shop/base.html" %}
{% load static staticfiles %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
{% endblock extra_css %}
{% block body %}

<div class="carousel slide" data-ride="carousel"  id="myCarousel">
  <ol class="carousel-indicators">
    {% for category in categories %}
    <li data-target="#myCarousel" data-slide-to="{{ forloop.counter }}"></li>
    {% endfor %}
  </ol>  

  <div class="carousel-inner" role="listbox">
    {% for category in categories %}
   <div {% if forloop.counter == 1 %} class="item active" role = "listbox" {% else %} class="item"{% endif %} >
     <img src=" {% static 'pic/tea.png' %}" alt="фото">
     <div class="container">
       <div class="carousel-caption">
         <h3> {{ category.name }} </h3>
         <p> {{category.description}} </p>
         <p><a href="#" class="btn btn-lg btn-primary">Перейти к разделу</a></p>
       </div>
     </div>
   </div>
   {% endfor %}

    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div> 
  <!--end carousel -->

  <div class="head_line"><h2>АКЦИЯ!</h2></div>

<div class="row my_thumb">

{% for product in products %}
<h1>{{forloop.counter}}</h1>
    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <img src="{% static "pic/22.jpg" %}" alt="" width="800" height="500">
        <div class="caption">
          <h3>{{ product.name }} <span class="label  label-default discont_label">Акция!</span></h3>
          <p>{{ product.details }}</p>
          <p><b>Цена:</b><span class="old_price">300  &#8372</span>&nbsp;<span class="good_price">{{product.price}}  &#8372</span></p>
          <p>
            <a href="#" class="btn btn-primary"><b>Купить!</b></a> <a href="#" class="btn btn-default"><b>Подробнее</b></a>
          </p>
        </div>
      </div>
    </div>
{% endfor %}

    <div class="col-md-3 col-sm-6 hero-feature">

      <div class="thumbnail">
        <div class="caption">
          <h3>Feature Label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <p><b>Цена:</b><span class="old_price">300  &#8372</span>&nbsp;<span class="good_price">350  &#8372</span></p>
          <p>
            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
          </p>
        </div>
        <img  class="img-circle" src="{% static "pic/22.jpg" %}" alt="" width="800" height="500">
      </div>
    </div>
    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <img src="{% static "pic/22.jpg" %}" alt="" width="800" height="500">
        <div class="caption">
          <h3>Feature Label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <p><b>Цена:</b><span class="old_price">300  &#8372</span>&nbsp;<span class="good_price">350  &#8372</span></p>
          <p>
            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <img src="{% static "pic/22.jpg" %}" alt="" width="800" height="500">
        <div class="caption">
          <h3>Feature Label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <p><b>Цена:</b><span class="old_price">300  &#8372</span>&nbsp;<span class="good_price">350  &#8372</span></p>
          <p>
            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <img src="{% static "pic/22.jpg" %}" alt="" width="800" height="500">
        <div class="caption">
          <h3>Feature Label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <p><b>Цена:</b><span class="old_price">300  &#8372</span>&nbsp;<span class="good_price">350  &#8372</span></p>
          <p>
            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
          </p>
        </div>
      </div>
    </div>


</div>


  {% endblock body %}
